/* Page Structure */
.page-container {
	box-sizing: content-box;
	max-width: 1100px;
}


/* Header */

.header {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 6px solid #bcbbbb;
	margin-bottom: 30px;
}

@media screen and (min-width: 400px) {
	.header {
		justify-content: space-between;
	}
}

.logo-container {
	flex-grow: 1;
	text-align: center;
}

@media screen and (min-width: 400px) {
	.logo-container {
		text-align: left;
	}
}

.title-panel {
	flex-grow: 1;
	text-align: center;
	text-transform: uppercase;
	color: #676857;
}

@media screen and (min-width: 400px){
	.title-panel {
		text-align: right;
	}
}

.name-header {
	margin: 10px 0;
}


/* Masthead */

.masthead-image {
	padding-bottom: 15px;
}

@media screen and (min-width: 400px){
	.masthead-image {
		padding-bottom: 4.5%;
	}
}


/* Portfolio */

.portfolio-header {
	color: #bcbbbb;
	margin: 0 0 20px 15px;
}

.portfolio-item {
	padding-bottom: 20px;
	color: #676857;
	text-align: center;
}

.portfolio-item-image {
	display: inline-block;
}

.portfolio-item-header {
	text-transform: uppercase;
}

.portfolio-item-link {
	color: #bcbbbb;
}

.portfolio-item-link:hover,
.portfolio-item-link:focus {
	color: #bcbbbb;
	text-decoration: underline;
}