/* Page Structure */
.page-container {
	box-sizing: content-box;
	max-width: 1100px;
}


/* Header */

.header {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 6px solid #bcbbbb;
	margin-bottom: 30px;
}

@media screen and (min-width: 400px) {
	.header {
		justify-content: space-between;
	}
}

.logo-container {
	flex-grow: 1;
	text-align: center;
}

@media screen and (min-width: 400px) {
	.logo-container {
		text-align: left;
	}
}

.title-panel {
	flex-grow: 1;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Quicksand', sans-serif;
	color: #676857;
}

@media screen and (min-width: 400px){
	.title-panel {
		text-align: right;
	}
}

.name-header {
	margin: 10px 0;
	font-size: 28px;
	font-weight: bold;
}

@media screen and (min-width: 500px){
	.name-header {
		font-size: 42px;
	}
}

@media screen and (min-width: 650px){
	.name-header {
		font-size: 64px;
		font-weight: normal;
	}
}

.personal-title {
	font-size: 16px;
	font-weight: bold;
}

@media screen and (min-width: 500px){
	.personal-title {
		font-size: 20px;
	}
}

@media screen and (min-width: 650px){
	.personal-title {
		font-size: 24px;
	}
}


/* Masthead */

.masthead-image {
	padding-bottom: 15px;
}

@media screen and (min-width: 400px){
	.masthead-image {
		padding-bottom: 4.5%;
	}
}


/* Portfolio */

.portfolio-header {
	font-family: 'Roboto', sans-serif;
	font-size: 34px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #bcbbbb;
	margin: 0 auto 20px auto;
	text-align: center;
}

@media screen and (min-width: 400px){
	.portfolio-header{
		font-size: 40px;
		margin: 0 0 20px 15px;
		text-align: left;
	}
}

.portfolio-item {
	font-family: 'Roboto', sans-serif;
	padding-bottom: 20px;
	color: #676857;
	text-align: center;
}

.portfolio-item-image {
	display: inline-block;
}

.portfolio-item-header {
	font-size: 34px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

@media screen and (min-width: 400px){
	.portfolio-item-header {
		font-size: 40px;
	}
}

.portfolio-item-link {
	font-size: 14px;
	color: #676857;
	text-decoration: none;
}

@media screen and (min-width: 400px){
	.portfolio-item-link {
		font-size: 16px;
	}
}

.portfolio-item-link:hover,
.portfolio-item-link:focus {
	text-decoration: underline;
}